.jumbotron {
    padding: 32px !important;
}

.main div {
    padding: 20px;
}

.card {
    margin: 5px !important;
    min-height: 131px;
}

.forecast {
    background-color: blue;
}

h5 {
    font-weight: unset !important;
}

.input-group {
    margin-top: 5px !important;
}

.btn-light {
    margin: unset !important;
    border-color: rgb(221, 220, 220) !important;
    border-radius: unset !important;
    background-color: white !important;
}

.forecast {
    border-radius: 20px;
}

.error {
    color: red;
}

/*Changes to formatting when screen size changes*/
@media screen and (max-width: 640px) {

    .forecast {
        flex-direction: column;
    }
}